@model IEnumerable<AdminTechnicalUnitListVM>

@{
    ViewData["Title"] = ViewLocalizer["TechnicalUnits"];
}

<section class="section dashboard">
    <div class="row">
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">@ViewLocalizer["All_TechnicalUnits"]</h5>
                    <a class="btn btn-primary my-4 col-lg-2" style="width:185px" data-bs-toggle="modal" data-bs-target="#createTechnicalUnitModal">@SharedLocalizer["Create", SharedLocalizer["TechnicalUnits"]]</a>
                </div>
               
                <table class="table table-row-bordered datatable">
                    <thead>
                        <tr class="text-center">
                            <th class="text-center fw-bold text-white" style="background-color:rgb(134,138,155)">@Html.DisplayNameFor(x => x.Name)</th>
                            <th class="text-center fw-bold text-white " style="background-color: rgb(134,138,155)">@ViewLocalizer["Operations"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var technicalUnit in Model)
                        {
                            <tr>
                                <td class="categories text-center">
                                    <a>
                                        <span class="post_category">@technicalUnit.Name</span>
                                    </a>
                                </td>
                                <td class="employment text-center">
                                    <div class="dropdown">
                                        <button id="optionsButton1">@SharedLocalizer["Options"] <i class="fa-solid fa-chevron-down"></i></button>

                                        <div class="dropdown-content">
                                            <a class="deleteAction" data-id="@technicalUnit.Id" style="cursor: pointer;"> @SharedLocalizer["Delete"] </a>
                                            <a asp-action="Update" asp-route-id="@technicalUnit.Id">@SharedLocalizer["Edit"]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/student/js/simple-datatables.js"></script>

<partial name="~/Areas/Admin/Views/TechnicalUnit/CreatePartialView.cshtml" model="new AdminTechnicalUnitCreateVM()"></partial>
<script src="~/dataTable/~/js/main.js"></script>
@section Scripts
    {
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
    <script>
        $(".deleteAction").click(function () {
            const id = $(this).attr("data-id");
            console.log(id);
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, sil!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Delete")",
                        data: { id: id },
                        dataType: "json",
                        success: function (data) {
                            Swal.fire({
                                title: 'Başarılı',
                                text: data.message,
                                icon: 'success'
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: 'Hata',
                                text: 'Bu teknik birim eğitmen tarafından kullanılıyor.',
                                icon: 'error'
                            });
                            console.log("Ajax hatası: " + error);
                        }
                    });
                }
            });
        });

    </script>

}
<script>
    var classroomCount = @Model.Count();
    window.onload = function () {
        paginationSetupDropdown(classroomCount);
    }
</script>

                                        