@model AdminStudentDetailVM
@{
    ViewData["Title"] = ViewLocalizer["Student_Details"];
}

<div class="content container my-5 d-flex flex-column flex-column-fluid card w-50 m-auto" id="kt_content" style="border-radius: 30px; background: #e0e0e0; box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;">
    <div class="card-body h-lg-100" id="kt_contacts_main">
        <div class="card-header pt-7" id="kt_chat_contacts_header">
            <div class="card-title">
                <h3 class="text-center" style="font-size:25px;font-weight:bold">@ViewLocalizer["Student_Details"]</h3>
            </div>
        </div>
        <div class="card-body pt-5">
            <div id="cover-image-container">
                @if (Model.Image != null)
                {
                    <div id="item-header-cover-image">
                        <img src="data:image/jpeg;base64,@Model.Image"
                             class="avatar user-1-avatar avatar-150 photo" width="150"
                             height="150" alt="" />
                    </div>
                }
                else
                {
                    <div id="item-header-cover-image">
                        <img src="~/media/avatars/blank.png"
                             class="avatar user-1-avatar avatar-150 photo" width="150"
                             height="150" alt="" />
                    </div>
                }
            </div>
            <div id="item-body" class="mb-3 mt-3">
                <div id="buddydrive-main">
                    <div>
                        <div class="buddydrive-content">
                            <span style="font-size: 15px; font-weight: bold;"><b>@Html.DisplayNameFor(model => model.FirstName) :</b></span>
                            <span>@Model.FirstName</span>
                        </div>
                        <div class="buddydrive-content">
                            <span style="font-size: 15px; font-weight: bold;"><b>@Html.DisplayNameFor(model => model.LastName) :</b></span>
                            <span>@Model.LastName</span>
                        </div>
                        <div class="buddydrive-content">
                            <span style="font-size: 15px; font-weight: bold;"><b>@Html.DisplayNameFor(model => model.Gender) :</b></span>
                            <span>@(Model.Gender == true ? SharedLocalizer["Man"] : SharedLocalizer["Woman"])</span>
                        </div>
                        <div class="buddydrive-content">
                            <span style="font-size: 15px; font-weight: bold;"><b>@Html.DisplayNameFor(model => model.Email) :</b></span>
                            <span>@Model.Email</span>
                        </div>
                        <div class="buddydrive-content">
                            <span style="font-size: 15px; font-weight: bold;"><b>@Html.DisplayNameFor(model => model.DateOfBirth) :</b></span>
                            <span>@Model.DateOfBirth.ToShortDateString()</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator mb-6"></div>
            <div style="d-flex">
                <div class="tables-grid-container" style="display:grid; grid-template-columns: auto auto; column-gap: 24px;">
                    <div class="sc_table recent_jobs">
                        <table summary="1" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>@ViewLocalizer["Classroom_Name"]</td>
                                </tr>
                                @foreach (var clasroom in Model.Classrooms)
                                {
                                    <tr>
                                        <td class="categories">
                                            <span class="post_category">@clasroom</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.OtherEmails.Count != 0)
                {
                    <div class="tables-grid-container" style="display:grid; grid-template-columns: auto auto; column-gap: 24px;">
                        <div class="sc_table recent_jobs">
                            <table summary="1" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>@ViewLocalizer["OtherEmails"]</td>
                                    </tr>

                                    @foreach (var otheremails in Model.OtherEmails)
                                    {
                                        <tr>
                                            <td class="otheremails">
                                                <span class="post_category">@otheremails</span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            <div class="separator mb-6"></div>
            <div class="d-flex justify-content-end">
                <a type="button" class="w3-blue w3-button w3-round fw-bold mx-2" asp-controller="Student" asp-action="Index">@SharedLocalizer["Back_List"]</a>
                <a class="w3-teal w3-button w3-round mx-2 fw-bold" asp-action="Update" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a>
                <a class="w3-red w3-button w3-round cursor-pointer deleteAction mx-2 fw-bold" data-id="@Model.Id"> @SharedLocalizer["Delete"] </a>
            </div>
        </div>
    </div>
</div>

    @section Scripts
        {
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
    <script>
        $(".deleteAction").click(function () {
            const id = $(this).attr("data-id");
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, sil!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Delete")" + "?id=" + id,
                        success: function (result) {
                            if (result.isSuccess) {
                                setTimeout(() => location.href = "/Admin/Student", 2000)
                            }

                        }
                    });
                }
            });
        });
    </script>
}